<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Arvo:700|Crimson+Text|Rokkitt:400,700|Kreon:700|Righteous|Audiowide|Expletus+Sans:400,600|Mate' rel='stylesheet' type='text/css'>
<script src="//use.typekit.net/wev7psg.js"></script>
<script>try{Typekit.load();}catch(e){}</script>


